<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (showBackButton) {
        <ion-button [routerLink]="backRoute">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showModal.next(true)">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title | transloco }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Body -->
  <ng-content></ng-content>

  <app-modal [showModal]="showModal" [title]="'SETTINGS.TITLE'">
    <app-settings-page></app-settings-page>
  </app-modal>
</ion-content>
