<ion-card>
  <ion-card-header>
    @if (volume.picture) {
      <img
        [alt]="volume.volumeNumber"
        [ngSrc]="`data:image/jpeg;base64, ${volume.picture}`"
        height="500px"
        width="500px"
      />
    }
    <ion-card-title>{{ volume.volumeNumber }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <app-formly [fields]="fields" [form]="form" [model]="model$ | async"></app-formly>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col class="ion-justify-content-end" style="display: flex">
          <ion-button aria-label="Actions" id="open-actions-volumes-{{ volume.id }}">
            <ion-icon name="cog-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-action-sheet
  (didDismiss)="onActionClicked($event)"
  [buttons]="actionSheetButtons"
  [header]="'GLOBAL.ACTIONS' | transloco"
  trigger="open-actions-volumes-{{ volume.id }}"
></ion-action-sheet>
