<ion-input
  [disabled]="props.disabled ?? false"
  [formControl]="field.formControl"
  [label]="props.label | transloco"
  [placeholder]="props.placeholder | transloco"
  labelPlacement="floating"
  type="number"
>
  <ion-button (click)="increaseNumber()" aria-label="Add" slot="start">
    <ion-icon aria-hidden="true" name="add" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button (click)="decreaseNumber()" aria-label="Remove" fill="clear" slot="end">
    <ion-icon aria-hidden="true" name="remove" slot="icon-only"></ion-icon>
  </ion-button>
</ion-input>
