<ion-card>
  <ion-card-header>
    <ion-card-title>{{ collection.name }}</ion-card-title>
    <ion-card-subtitle>{{ 'COLLECTIONS.LIST.TITLE' | transloco }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'COLLECTIONS.LIST.SERIES_AMOUNT' | transloco: { amount: amountOfRelatedSeries } }}
        </ion-col>
        <ion-col class="ion-justify-content-end" style="display: flex">
          <ion-button aria-label="Actions" id="open-action-sheet">
            <ion-icon name="cog-sharp"></ion-icon>
          </ion-button>
          <ion-button [routerLink]="['/series', collection!.id]" aria-label="Go to view">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-action-sheet
  (didDismiss)="onActionClicked($event)"
  [buttons]="actionSheetButtons"
  [header]="'GLOBAL.ACTIONS' | transloco"
  trigger="open-action-sheet"
></ion-action-sheet>
