<ion-card>
  <ion-card-header>
    @if (series.picture) {
      <img
        [alt]="series.name"
        [ngSrc]="`data:image/jpeg;base64, ${series.picture}`"
        height="500px"
        width="500px"
      />
    }
    <ion-card-title>{{ series.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'SERIES.LIST.VOLUME_AMOUNT' | transloco: { amount: volumesCount ?? 0 } }}
        </ion-col>
        <ion-col class="ion-justify-content-end" style="display: flex">
          <ion-button aria-label="Actions" id="open-actions-series-{{ series.id }}">
            <ion-icon name="cog-sharp"></ion-icon>
          </ion-button>
          <ion-button [routerLink]="['/volumes', series!.id]" aria-label="Go to view">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-action-sheet
  (didDismiss)="onActionClicked($event)"
  [buttons]="actionSheetButtons"
  [header]="'GLOBAL.ACTIONS' | transloco"
  trigger="open-actions-series-{{ series.id }}"
></ion-action-sheet>
