<app-page title="MENUS.VOLUMES">
  @for (volume of volumes; track volume.id) {
  <app-volume-list-item [volume]="volume" (reloadVolumes)="reloadVolumes()"></app-volume-list-item>
  }

  <ion-fab class="fixed-bottom">
    <ion-fab-button [routerLink]="['/volumes/create', seriesId]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</app-page>
