<app-page title="MENUS.VOLUMES">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      @for (volume of volumes; track volume.id) {
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <app-volume-list-item
          [volume]="volume"
          (reloadVolumes)="reloadVolumes()"
        ></app-volume-list-item>
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-fab class="fixed-bottom">
    <ion-fab-button [routerLink]="['/volumes/create', seriesId]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</app-page>
